$--stamm-green: #00D89D;
$--stamm-black: #272727;
$--stamm-grey: #D8D8D8;
$--stamm-white: #F9F9F9;
$--stamm-denied: #FF0000;

$--title-size: 36px;
$--title-line-height: 40px;

$--subtitle-size: 20px;

$--general-font-size: 12px;

$--font-weight-general: 600;

$--input-height: 46px;
$--select-height: 46px;
$--button-height: 46px;

$--border-radius: 60px;