@import 'vars';

.generalContainer{
    height: inherit;
    padding: 128px 0 0 48px;
    background-image: url('../public/homeImage.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;

}

.parragraph {
    width: 500px;
    height: auto;
    text-align: justify;
    margin-left: 48px;
    border: solid 4px $--base-orange;
    border-radius: 12px;
    color: $--base-blue;
    font-weight: 600;
    padding: 12px;
    background-color: $--base-white;
}
.parragraph h1 {
    margin-top: 8px;
}