@import './vars'; 

.basicContainer {
    display: flex;
    flex-direction: column;
    color: $--base-blue;
    background-color: white;
}
.dataContainer{
    margin: 80px 24px 0 24px;
}

.container {
    height: auto;
    margin: 12px 0 12px 0;
}

.results {
    height: auto;
}