@import './vars'; 

.basicContainer {
    display: flex;
    flex-direction: column;
    color: $--base-blue;
    background-color: white;
    width: 100%;
}
.dataContainer{
    margin: 80px 24px 0 24px;
}

.container {
    height: auto;
    margin: 12px 0 12px 0;
}

.button {
    height: 36px;
    width: 80px;
    font-size: 15px;
    font-weight: 600;
    border-radius: 36px;
    border: solid 2px $--base-orange;
    color: $--base-blue;
    background-color: white;
    cursor: pointer;
    margin-bottom: 8px;
    transition: all 0.4s;
    line-height: 16px;
}
.button:hover {
    color: $--base-orange;
    transition: all 0.4s;
}

.loaderContainer {
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items: center;
    margin-top: 64px;
}
.LoadingTitle {
    font-size: 36px;
}
.selectContainer {
    display: flex;
    flex-direction: column;
}
.span {
    margin-bottom: 18px;
}

.selectContainer select {
    height: 46px;
    width: 80%;
    font-weight: 600;
    align-self: center;
    border-radius: 23px;
    border: solid 2px $--base-orange;
    color: $--base-blue;
    background-color: $--base-white;
    padding-right: 24px;
    font-size: 16px;
    line-height: 16px;
    padding: 8px;
    margin-bottom: 12px;
    background: transparent;
    background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
    background-repeat: no-repeat;
    background-position-x: 98.5%;
    background-position-y: 50%;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}