@import 'vars';

.Nav {
    width: 100%;
    height: 84px;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 1px $--base-white;
    position: fixed;
    background-color: white;
    top: 0;
    left: 0;
    z-index: 3;
    color: $--base-blue;
}

.itemsLeft {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0 0 0 48px;
    padding: 0;
}

.itemsLeft li {
    color: $--base-blue;
    cursor: pointer;
    margin: 0 0 0 36px;
    font-size: 20px;
    font-weight: 400;
}
.itemsLeft li::after {
    display: block;
    content: '';
    border-bottom: solid 2px $--base-blue;
    padding-bottom: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.itemsLeft li:hover::after {
    transform: scaleX(1);
}
.itemsRight {
    display: flex;
    flex-direction: row;
    align-items: center;
    list-style: none;
    margin: 0 48px 0 0;
    padding: 0;
}
.itemsRight li {
    color: $--base-blue;
    cursor: pointer;
    margin: 0 0 0 36px;
    font-size: 20px;
    font-weight: 400;
}
.itemsRight li::after {
    display: block;
    content: '';
    border-bottom: solid 2px $--base-blue;
    padding-bottom: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.itemsRight li:hover::after {
    transform: scaleX(1);
}

.logoFigure {
    margin: 0;
}
.logoFigure:hover {
    cursor: pointer;
}
.ImageDetail {
    margin: 16px 18px 16px 0;
    width: 90px;
}

.logIn {
    background: $--base-orange;
    color: white;
    height: 50px;
    width: 100px;
    margin: 18px 18px 18px 18px;
    font-size: 20px;
    font-weight: 600;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 28px;
    transition: all 0.4s;

}
.logIn:hover {
    color: $--base-blue;
    transition: all 0.4s;
}
.mobileIcon {
    display: none;
}

@media (max-width: 640px) {
    .itemsLeft {
        display: none;
    }
    .itemsRight{
        display: none;
    }
    .mobileIcon {
        display: flex;
        margin-left: 12px;
        scale: 0.85;
    }
}