@import './vars'; 

.generalContainer{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.opacityContainer {
    background-color: black;
    display: flex;
    flex-direction: column;
    flex: 1 0 auto;
    height: fit-content;
}
.titleContainer {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
}
.titleContainer::before {
    content: "";
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url('../public/homeImage.webp');
    background-size: auto;
    background-repeat: no-repeat;
    background-position: center center;
    opacity: 0.4;
    z-index: 0;
}
.lastContainer{
    display: flex;
    flex-direction: column;
    background-color: white;
    flex: 0 1 25%;
    height: 100%;
}
.titleSpace{
    display: flex;
    flex-direction: column;
    z-index: 2;
    margin: 100px 20% 0 20%;
    text-align: left;
    color: $--base-white;
}
.titleSpace p {
    margin-bottom: 48px;
}
.title {
    font-size: 60px;
    margin-bottom: 36px;
}
.searchButton {
    height: 48px;
    width: 220px;
    font-size: 20px;
    font-weight: 600;
    border-radius: 24px;
    border: solid 1px $--base-blue;
    color: $--base-white;
    background-color: $--base-orange;
    cursor: pointer;
    margin-bottom: 36px;
    transition: all 0.4s;

}
.searchButton:hover {
    color: $--base-blue;
    transition: all 0.4s;
}
.spanContainer {
    width: fit-content;
    margin-bottom: 24px;
}
.titleSpace span {
    width: auto;
    font-size: 20px;
    font-weight: 400;
    cursor: pointer;
}
.titleSpace span::after {
    display: block;
    content: '';
    border-bottom: solid 2px $--base-white;
    padding-bottom: 0;
    transform: scaleX(0);
    transition: transform 300ms ease-in-out;
}
.titleSpace span:hover::after {
    transform: scaleX(1);
}
.sourceFooter{
    display: flex;
    flex-direction: column;
    align-items:flex-end;
    margin: 24px 24px 0 0;
}
.sourceFooter p {
    margin: 4px;
    font-size: 12px;
    color: $--base-blue;
}
.footerContainer {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    color: $--base-blue;
}
.footerContainer p {
    margin: 0 0 4px 0;
}
@media (max-width: 640px) {
    .lastContainer{
        display: none;
    }
    .titleSpace{
        margin: 68px 5% 0 5%;
    }
    .title {
        font-size: 40px;
        line-height: 52px;
        margin-bottom: 24px;
    }
    .titleSpace p {
        margin-bottom: 36px;
        font-size: 18px;
    }
    
    
}