@import 'vars';


.container {
    width: 240px;
    border: 2px solid $--base-orange;
    background-color: grey;
    box-shadow: 0px 0px 15px $--base-orange;
    display: flex;
    height: 24px;
    border-radius: 24px;
}

.progress {
    width: 0%;
    background-color:white;
    animation: progress 1s infinite;
    height: 20px;
    border-radius: 20px;
}

@keyframes progress {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}